.mediaViewInfo {
    --web-view-name: ponencias;
    --web-view-id: ponencias;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: ponencias;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#ponencias {
    width: 900px;
    height: 310px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: ponencias;
    --web-view-id: ponencias;
    --web-enable-deep-linking: true;
}
#PONENCIAS {
    position: absolute;
    left: 89px;
    top: 185px;
    overflow: visible;
    width: 148px;
    white-space: nowrap;
    text-align: left;
    font-family: Sitka Display;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(0,0,0,1);
}