<div id="cabeza" class="">
	<svg class="Rect_ngulo_10">
		<rect fill="rgba(41,179,225,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rect_ngulo_10" rx="0" ry="0" x="0" y="0" width="1365" height="103">
		</rect>
	</svg>
	<svg class="NoPath___copia__12_">
		<pattern elementId="NoPath___copia__12__A0_Rectangle_3" id="NoPath___copia__12__A0_Rectangle_3_pattern" x="0" y="0" width="100%" height="100%">
			<image x="0" y="0" width="100%" height="100%" href="./assets/NoPath___copia__12__A0_Rectangle_3_pattern.png" xlink:href="./assets/NoPath___copia__12__A0_Rectangle_3_pattern.png"></image>
		</pattern>
		<rect fill="url(#NoPath___copia__12__A0_Rectangle_3_pattern)" id="NoPath___copia__12_" rx="3" ry="3" x="0" y="0" width="140" height="95">
		</rect>
	</svg>
	<svg class="Rect_ngulo_11">
		<rect fill="rgba(255,255,255,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rect_ngulo_11" rx="22.5" ry="22.5" x="0" y="0" width="107" height="45">
		</rect>
	</svg>
	<div id="SIU">
		<a href = "https://siu.poligran.edu.co" style="text-decoration:none; color:black"><span>SIU</span></a>
	</div>
	<svg class="Trazado_1" viewBox="0 0 46.193 46.348">
		<path fill="rgba(11,56,91,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Trazado_1" d="M 23.096435546875 0 C 35.85224151611328 0 46.19287109375 10.37537288665771 46.19287109375 23.17404174804688 C 46.19287109375 35.97271728515625 35.85224151611328 46.34808349609375 23.096435546875 46.34808349609375 C 10.34062671661377 46.34808349609375 0 35.97271728515625 0 23.17404174804688 C 0 10.37537288665771 10.34062671661377 0 23.096435546875 0 Z">
		</path>
	</svg>
	<svg class="Elipse_2">
		<ellipse fill="rgba(255,255,255,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Elipse_2" rx="18.5" ry="19" cx="18.5" cy="19">
		</ellipse>
	</svg>
	<svg class="_person_90382" href = "siu.poligran.edu.co">
		<pattern elementId="_person_90382_A0_Rectangle_6" id="_person_90382_A0_Rectangle_6_pattern" x="0" y="0" width="100%" height="100%">
			<image x="0" y="0" width="100%" height="100%" href="./assets/_person_90382_A0_Rectangle_6_pattern.png" xlink:href="./assets/_person_90382_A0_Rectangle_6_pattern.png"></image>
		</pattern>
		<rect fill="url(#_person_90382_A0_Rectangle_6_pattern)" id="_person_90382" rx="17" ry="17" x="0" y="0" width="34" height="34">
		</rect>
	</svg>
</div>
