<div id="objetivos" class="">
	<div id="OBJETIVOS__Aportar_a_los_estud">
        <span>OBJETIVOS<br/><br/> 
            -Aportar a los estudiantes de la Facultad de Ingeniería, Diseño e Innovación<br/>
            oportunidades paradesarrollar trabajos de investigación que les permitan <br/> 
            cumplir requisitos de grado y/o empezar a formar un perfil de investigador.<br/><br/>
            -Desarrollar proyectos de impacto e interés con base en fundamentos teóricos <br/> 
            del análisis de sistemas sociales por medio de la ingeniería.<br/>
        </span>
	</div>
</div>