<div id="formulario" class="">
	<div id="Grupo_5">
		<div id="si_est__interesado_en_particip">
			<span>si está interesado en participar en el semillero, por favor  diligencie la siguiente información </span>
		</div>

		<form>
			<div id="Nombre_">
				<span>Nombre:</span>
				<input type = "text" class = "NInput">
			</div>
			<div id="Correo_institucional_">
				<span>Correo institucional:</span>
				<input type = "text" class = "NInput">
			</div>
			<div id="_Porqu__est__interesado_">
				<span>¿Porqué está interesado?</span><br>
				<textarea class = "PInput">	</textarea>
			</div>
			<div>
				<button id="enviar">enviar</button>
			</div>
		</form>
	</div>
</div>