.mediaViewInfo {
    --web-view-name: articulos;
    --web-view-id: articulos;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: articulos;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#articulos {
    width: 900px;
    height: 300px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: articulos;
    --web-view-id: articulos;
    --web-enable-deep-linking: true;
}
#ART_CULOS {
    position: absolute;
    left: 88px;
    top: 183px;
    overflow: visible;
    width: 146px;
    white-space: nowrap;
    text-align: left;
    font-family: Sitka Display;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(0,0,0,1);
}